{% extends 'student_template.html' %}

{% block title %}
<title>Cart</title>
{% endblock %}

{% block content %}

<div class="cart-container">
<h1>Cart</h1>

To display all records for the user in the Payment table with the status Pending - include (pull from db) their IDs to pass them to the cart hmtl

{% for record in unpaid_reservations %}

<ul>
    <li>{{ record.exam_name }}  {{record.id}} <a href="/student/cart/{{record.id}}">Delete</a></li>
</ul>

{% endfor %}

<a href="/student/checkout">Proceed to payment</a>

</div>








{% endblock %}
