{% extends 'student_template.html' %}

{% block title %}
<title>Cart</title>
{% endblock %}

{% block content %}

<div class="cart-container">

    <div class="cart-container-left">
        <div class="cart-container-left-sessions">

            <div class="cart-container-session-heading fs-4">Sessions</div>

            {% for session in unpaid_reservations%}
            <div sessionid={{session.id}} class="new-session-subcontainer">
                <div class="cart-container-session">{{ session.exam_name }}</div>
                <div class="cart-container-session">{{ session.exam_length }} hour(s)</div>
                <div class="cart-container-session">${{ session.cost }}</div>
                <div class="cart-container-session btn btn-danger">Delete</div>
            </div>
            {% endfor %}

            <!-- <div class="cart-container-session">Session name</div>
            <div class="cart-container-session">1 hr</div>
            <div class="cart-container-session">$50</div>
            <div class="cart-container-session btn btn-danger">Delete</div>

            <div class="cart-container-session">Session name</div>
            <div class="cart-container-session">1 hr</div>
            <div class="cart-container-session">$50</div>
            <div class="cart-container-session btn btn-danger">Delete</div>

            <div class="cart-container-session">Session name</div>
            <div class="cart-container-session">1 hr</div>
            <div class="cart-container-session">$50</div>
            <div class="cart-container-session btn btn-danger">Delete</div> -->

            <!-- <div class="cart-container-session-total"></div>
            <div class="cart-container-session-total">Sub total</div>
            <div class="cart-container-session-amount">$250</div>
            <div class="cart-container-session-total"></div> -->

            <div class="cart-container-session-total"></div>
            <div class="cart-container-session-total">Total</div>
            <div class="cart-container-session-amount">{{ total_cost }}</div>
            <div class="cart-container-session-total"></div>

        </div>

    </div>

    <div class="cart-container-right">
        <div class="cc-title fs-4">Credit card details</div>
        <form class="cart-form">
            <input class="cc-name form-control" type="text" placeholder="name on card">
            <input class="cc-number form-control" type="number" placeholder="card number">
            <input class="cc-month form-control" type="number" placeholder="month">
            <input class="cc-year form-control" type="number" placeholder="year">
            <input class="cc-cvv form-control" type="number" placeholder="cvv">
            <input class="cc-submit btn btn-primary" type="submit" name="submit">



        </form>

    </div>

    <!-- {% for record in unpaid_reservations %}
<ul>
    <li>{{ record.exam_name }}  {{record.id}} <a href="/student/cart/{{record.id}}">Delete</a></li>
</ul>
{% endfor %} -->



</div>








{% endblock %}