{% extends 'student_template.html' %}
{% load static %}

{% block title %}
<title>Cart</title>
{% endblock %}

{% block content %}
<h3>My Cart</h3>
<div class="cart-container">
    <div class="cart-container-left">
        {% if unpaid_reservations %}
        <div class="cart-container-session-heading fs-4">Sessions</div>
        {% for session in unpaid_reservations%}
        <div class="cart-container-left-sessions">
            
            <div sessionid={{session.id}} class="cart-session">
                <div class="cart-session-element">{{ session.exam_name }}</div>
                <div class="cart-session-element">{{ session.exam_length }} hour(s)</div>
                <div class="cart-session-element cart-session-cost">${{ session.cost }}</div>
                <div class="cart-session-element btn btn-danger delete-from-cart">Delete</div>
            </div>
        </div>
        {% endfor %}
        <div class="cart-session-total-container">
            <div class="cart-session-total fs-5">Total</div>
            <div class="cart-session-amount fs-5">${{ total_cost }}</div>
        </div>
        {% else %}
        <div class="cart-container-session-heading fs-4">Your cart is empty</div>
        <div class="cart-container-left-sessions">
            <img class="cart-empty" src={% static '/img/cart-empty.svg' %}>
        </div>
        
        {% endif %}

    </div>
    <div class="cart-space"></div>
    <div class="cart-container-right">
        {% if unpaid_reservations %}
        <div class="cc-title fs-4">Credit card details</div>
        <form class="cart-form">
            <label class="fs-5 cc-name-label" for="card-holder-name">Name on card</label>
            <label class="fs-5" for="cvv" cvv">CVV</label>
            <input class="form-control" type="text" placeholder="name on card" value="John Smith"
                name="card-holder-name">
            <input class="cc-cvv form-control" type="number" name="cvv" placeholder="cvv" value="123">
            <label class="fs-5 cc-card-number-label" for="card-number">Card number</label>
            <label class="fs-5" for="month">Month</label>
            <label class="fs-5" for="year">Year</label>
            <input class="cc-number form-control" placeholder="card number" value="4539 7889 2500 4444"
                name="card-number">
            <!-- <div class="cc-month-year-cvv"> -->

            <input class="cc-month form-control" type="number" placeholder="month" name="month" value="01">

            <input class="cc-year form-control" type="number" placeholder="year" name="year" value="2025">


            <!-- </div> -->
            <input class="cc-submit btn btn-primary" type="submit" name="submit">
            {% else %}
            <div class="cart-empy-make-reservation">
                <a class="fs-4" href="reservation">Make a new reservation</a>
            </div>
            {% endif %}

        </form>

    </div>

    <!-- {% for record in unpaid_reservations %}
<ul>
    <li>{{ record.exam_name }}  {{record.id}} <a href="/student/cart/{{record.id}}">Delete</a></li>
</ul>
{% endfor %} -->



</div>








{% endblock %}