{% extends 'public_template.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="change_password">
        </form>

    {% else %}
        <div class="form-container">
            <h1>Change Password</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <label class="form-label fs-5" for="email">Email</label>
                <input class="form-control" type="email" name="email">
                <input class="form-control fs-5" type="submit" value="Change Password">
            </form>
            <hr>
            <div class="form-footer">
                <div><a class="fs-5" href="/login">Back to Sign In</a></div>                
            </div>
            
        </div>
        
    {% endif %}

                    
{% endblock %}