{% extends 'public_template.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}


<div class="form-container">
    <!-- <h2>Change Password</h2> -->
    {% if message %}
    <div class="message-container message-{{message.status}}"><div class="message-text fs-5">{{message.message}}</div></div>
    <hr>
    {% else %}
    <form method="POST" action="">
        {% csrf_token %}
        <label class="form-label fs-5" for="email">Email address</label>
        <input class="form-control" type="email" name="email">
        <input class="form-control fs-5" type="submit" value="Reset Password">
    </form>
    {% endif %}
    <div class="form-footer">
        <div><a class="fs-5" href="/login">Back to Sign In</a></div>
    </div>
    
</div>

{% endblock %}