
    

<div class="card-body">
    {% if user.is_authenticated %}
        <h1 class="card-heading">Change Passoword</h1>
        
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="change_password">
        </form>


    {% else %}
        <h1 class="card-heading">Forgot Password?</h1>
        <form method="POST">
            {% csrf_token %}
            {{message}}
            <!-- <p>Enter your email address below to reset your password:</p> -->
            {{form}}
            <button type="submit">Submit</button>
        </form>
    {% endif %}


</div>
                    