
    <h1 class="card-heading">Fogot password?</h1>

<div class="card-body">
    {% if user.is_authenticated %}
    <p>Note: You're already logged in as {{user}}.</p>
    <p>After you change your password you will be required to log in again.</p>
    <p>Send email to {{request.user.email}} to reset your password?</p>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" maxlength="254" value="{{user.email}}" hidden>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>

    {% else %}
    <form method="post">
        {% csrf_token %}
        <p>Enter your email address below to reset your password:</p>
        <label for="email">Email</label>
        <input type="email" name="email">
        {{form.email}}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endif %}


</div>
                    