{% extends 'public_template.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

    <div class="form-container">
        <h2>Sign In</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <label class="form-label fs-5" for="email">Email</label>
            <input class="form-control" type="email" name="email">
            <label class="form-label fs-5" for="password">Password</label>
            <input class="form-control" type="password" name="password">
            <input class="form-control fs-5" type="submit" value="Login">
        </form>
        <hr>
        <div class="form-footer">
            <div><a class="fs-5" href="/register">Register</a></div>
            <div><a class="fs-5" href="/change_password">Forgot Password?</a></div>
            
        </div>
        
    </div>

{% endblock %}