{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static '/css/styles.css' %}>
    {% block title %}{% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <img class="brand-img" alt="ProctorX Logo" src={% static '/img/proctorX.svg' %}>
        </div>
        <div class="header-links">
            <a href="/login">Take an Exam</a>
            <a href="/login">User Login</a>
            <a href="/register">Sign Up</a>
            <!-- <a href="/help">Help</a> -->
            <!-- <a href="/change_password">Forgot password</a> -->
        </div>



    </header>

    <main>
        <p>This is my content</p>

        {% block content %}
    
        {% endblock %}
    </main>


    <footer>
        <p>This is my footer</p>

    </footer>



</body>
</html>
