{% extends 'student_template.html' %}

{% block title %}
<title>Reservation</title>
{% endblock %}

{% block content %}
<h1>Reservation</h1>

<form method="POST" action="">
    {% csrf_token %}
    <label for="university">University</label>
    <select type="text" name="university">
        <option value="UOBV">University of the Opal Berry Village</option>
        <option value="RHU">Rose Hills University</option>
        <option value="ELU">Estate of Lemzilville University</option>
    </select>
    <label for="date">Date</label>
    <input type="date" name="date">
    <label for="time">Time</label>
    <input type="time" name="time">
    <select type="text" name="exam">
        <option value="COMP201">Web Programming I</option>
        <option value="COMP361">Systems Analysis and Design</option>
    </select>
    <select type="text" name="exam_length">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
    </select>
    <label for="dtime">Date Time</label>
    <input type="datetime" name="dtime">

</form>












{% endblock %}
