{% extends 'student_template.html' %}

{% block title %}
<title>Reservation</title>
{% endblock %}

{% block content %}

<div class="reservation-container">
    <form class="reservation-form" method="POST" action="">
        {% csrf_token %}
        <div class="reservation-form-option">
            <label class="fs-5" for="university">University</label>
            <select type="text" name="university">
                <option value="UOBV">University of the Opal Berry Village</option>
                <option value="RHU">Rose Hills University</option>
                <option value="ELU">Estate of Lemzilville University</option>
            </select>
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="date">Date</label>
            <input type="date" name="date">
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="time">Time</label>
            <input type="time" name="time">
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="exam">Exam</label>
            <select type="text" name="exam">
                <option value="COMP201">Web Programming I</option>
                <option value="COMP361">Systems Analysis and Design</option>
            </select>
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="exam-length">Length</label>
            <select type="text" name="exam-length">
                <option value="1">1 hour</option>
                <option value="2">2 hours</option>
                <option value="3">3 hours</option>
            </select>
        </div>
        <div class="registration-form-submit-container">
            <div class="registration-form-submit-container-2">
                <input class="registration-form-submit fs-5" type="submit" value="Submit"
                    name="Lookup reservation schedules">
            </div>
        </div>
    </form>


    <div class="reservation-results">
        {% if available_schedules %}
        {% for schedule in available_schedules %}
        <div class="reservation-option fs-5">
            <p>{{schedule}}</p> 
            <p>{{exam}}</p>
            <a href="">Select</a>
        </div>
        <!-- Add JS to make post request here -->
        {% endfor %}
    </div>

    {% endif %}


</div>






{% endblock %}