{% extends 'student_template.html' %}

{% block title %}
<title>Reservation</title>
{% endblock %}

{% block content %}
<h3>Reserve a Session</h3>
<div class="reservation-container">
    <form class="reservation-form" method="POST" action="">
        {% csrf_token %}
        <div class="reservation-form-option">
            <label class="fs-5" for="university">University</label>
            {% if university %}
            <select disabled class="form-option-university form-select" type="text" name="university">
                <option value="UOBV">{{ university }}</option>
            </select>
            {% else %}
            <select class="form-option-university form-select" type="text" name="university">
                <option value="University of the Opal Berry Village">University of the Opal Berry Village</option>
                <option value="Rose Hills University">Rose Hills University</option>
                <option value="Estate of Lemzilville University">Estate of Lemzilville University</option>
            </select>
            {% endif %}
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="date">Date</label>
            {% if date %}
            <input disabled class="form-option-date form-control" value="{{ date }}" type="date" name="date">
            {% else %}
            <input class="form-option-date form-control" type="date" name="date">
            {% endif %}
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="time">Time</label>
            {% if time %}
            <input disabled class="form-option-time form-control" value="{{ time }}" type="time" name="time">
            {% else %}
            <input class="form-option-time form-control" type="time" name="time">
            {% endif %}
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="exam">Exam</label>
            {% if program %}
            <select disabled class="form-option-program form-select" type="text" name="exam">
                <option value="{{ program }}">{{ program }}</option>
            </select>
            {% else %}
            <select class="form-option-program form-select" type="text" name="program">
                <option value="Web Programming I">Web Programming I - Final</option>
                <option value="Systems Analysis and Design">Systems Analysis and Design - Midterm</option>
                {% endif %}
            </select>
        </div>
        <div class="reservation-form-option">
            <label class="fs-5" for="exam-length">Length</label>
            {% if length %}
            <select disabled class="form-option-length form-select" type="text" name="exam-length">
                <option value="{{ length }}">{{ length }}</option>
            </select>
            {% else %}
            <select class="form-option-length form-select" type="text" name="exam-length">
                <option value="1 hour">1 hour</option>
                <option value="2 hours">2 hours</option>
                <option value="3 hours">3 hours</option>
                {% endif %}
            </select>
        </div>
        <div class="registration-form-submit-container">
            <div class="registration-form-submit-container-2">
                {% if university is None %}
                <input class="registration-form-submit fs-5 form-control" type="submit" value="Search Available Schedules"
                    name="postOption">
                {% else %}
                <button type="button" class="registration-form-edit fs-5 form-control"
                    onclick="window.location = window.location.href">Edit
                    Reservation Details</button>
                {% endif %}
            </div>
        </div>
    </form>

    <div class="reservation-results">
        {% if available_schedules %}
        {% for schedule in available_schedules %}
        <div class="reservation-option fs-5">
            <p class="reservation-option-datetime">{{schedule}}</p>
            <p class="reservation-option-length">{{length}}</p>

            <button name="sendToCart" value="Select" onclick="sendToCart()">Select</button>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>





</div>






{% endblock %}