{% extends 'student_template.html' %}

{% block title %}
<title>My Sessions</title>

{% endblock %}


{% block content %}

<div class="session-container">
    <div class="session-headings">
        <h5 class=>Exam</h5>
        <h5>Date</h5>
        <h5>Length</h5>
        <h5>Status</h5>
    </div>

    {% if current_reservations %}
    {% for session in current_reservations %}
    <ul class="session-content">
        <li class="session-attribute fs-6">{{session.exam_name}}</li>
        <li class="session-attribute fs-6">{{session.exam_date_time}}</li>
        <li class="session-attribute fs-6">{{session.exam_length}} hour(s)</li>
        <li class="session-attribute fs-6">{{session.session_status}}</li>
    </ul>
    {% endfor %}
    {% else %}
    <div class="empy-sessions">
        <p>You currently don't have any scheduled sessions</p>
        <a class="fs-4" href="reservation">Reserve a new session</a>
    </div>
    {% endif %}
</div>


{% for record in current_reservations %}

<!-- <ul>
    <li>{{ record.exam_name }} Status: {{record.session_status}} Date: {{record.exam_date}} Time: {{record.exam_time}}
    </li>
</ul> -->

{% endfor %}


{% endblock %}