{% extends 'public_template.html' %}
{% load static %}

{% block title %}
<title>Set password</title>
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Set Password</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label fs-5" for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% endfor %}
        <input class="form-control fs-5" type="submit" value="Change Password">
    </form>
    <!-- <hr>
    <div class="form-footer">
        <div><a class="fs-5" href="/login">Back to Sign In</a></div>
        <div><a class="fs-5" href="/change_password">Forgot Password?</a></div>
        
    </div> -->
</div>
{% endblock %}





<!-- <form method="post">
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
