{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static '/css/styles.css' %}>
    {% block title %}{% endblock %}
</head>
<body>
    <p>Hi {{ request.user }}</p>
    <a href="/logout">Logout</a>
    <a href="cart">Cart</a>
    <a href="reservation">Reserve a new session</a>
    <a href="session">My Active Sessions</a>
    <nav>this is a nav</nav>
    {% block content %}
    
    {% endblock %}

</body>
</html>




