{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href={% static '/css/styles.css' %}>
    <script></script>
    {% block title %}{% endblock %}
</head>

<body>


    <header>
        <div class="header-wrapper scale-down">
            <div class="logo">
                <img class="brand-img" alt="ProctorX Logo" src={% static '/img/proctorX-white.svg' %}>
            </div>

            <div class="user-settings fs-5">
                {{ request.user }}
            </div>
            <div class="user-settings-drop-down-menu">
                <a class="dropdown-item" href="/account/edit">
                    Account Settings
                </a> <a class="dropdown-item" href="/change_password">
                    Change Password
                </a> <a class="dropdown-item" href="/students/preference/notifications">Notification Settings</a>


                <div class="dropdown-divider"></div>
                <a class="dropdown-item" rel="nofollow" data-method="delete" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <div class="student-options-panel-wrapper">
        <div class="student-options-panel scale-down fs-5">
            <div class="student-links">
                <a class="session" href="session">My Sessions</a>
                <a class="my-orders" href="order">My Orders</a>
                <a class="reserve" href="reservation">Reserve a New Session</a>
            </div>
            <div class="student-cart-balance">
                <a class="cart" href="cart">Cart</a>
                <span class="student-cart-count">{{ cart_items_number }}</span>
            </div>
        </div>
    </div>

    <div class="main-wrapper">
        <main class="scale-down">

            {% block content %}

            {% endblock %}


        </main>
    </div>

    <div class="footer-wrapper">
        <footer class="scale-down">
            <div class="footer-options">
                <h4>ProctorX</h4>
                <div class="footer-sub-options fs-5">
                    <a class="fs-6">About</a>
                    <a class="fs-6">Privacy Policy</a>
                    <a class="fs-6">Terms of Service</a>
                </div>

            </div>
            <div class="footer-options">
                <h4>My Account</h4>
                <div class="footer-sub-options fs-5">
                    <a class="fs-6">Account Settings</a>
                    <a class="fs-6">Password Settings</a>
                    <a class="fs-6" href="/logout">Logout</a>
                </div>
            </div>
            <div class="footer-options">
                <h4>Support</h4>
                <div class="footer-sub-options fs-5">
                    <a class="fs-6">Support</a>
                    <a class="fs-6">URL Redirection Service</a>
                    <a class="fs-6">Test Your Equipment</a>
                    <a class="fs-6">Resource Center</a>
                </div>
            </div>
            <div class="footer-options">
                <div class="footer-icons">
                    <a><span class="fab fa-twitter fa-xl"></span></a>
                    <a><span class="fab fa-facebook fa-xl"></span></a>
                </div>
                <div class="footer-signature">
                    <p>ProctorX, Inc. All rights reserved.</p>
                    <p>© Copyright 2022</p>
                </div>
            </div>

        </footer>
    </div>

    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
</body>

</html>