body {
    /* max-width: 1200px; */
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.scale-down {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #343a40;
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
}

.header-wrapper {
    background-color: #343a40 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}

.brand-img {
    margin: 20px;
    height: 40px;
}

.student-options-panel-wrapper {
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
    background-color: white;
}

.student-options-panel {
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.student-links {
    align-self: center;
    padding-left: 20px;

}

.student-links a {
    margin-right: 20px;
}

.student-link-selected {
    background-color: #343a40;
    border-radius: 0.3rem;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: white !important;
}

.student-options-panel a {
    text-decoration: none !important;
    color: black;
    align-self: center;
}

.student-cart-balance {
    justify-self: right;
    align-self: center;
    margin-right: 20px;
}

.student-cart-balance:hover {
    cursor: pointer;
}


.student-cart-count {
    background-color: #dee2e6;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    text-align: center;
    display: inline-block;
    line-height: 1;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: 600;
}

.user-settings {
    color: white;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

.user-settings::after {
    display: inline-block;
    margin-left: 0.050em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.user-settings:hover {
    cursor: pointer;
}

.user-settings-drop-down-menu {
    display: none;
    margin-right: 20px;
    grid-column: 2/3;
    width: 30%;
    justify-self: end;
    z-index: 1;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    /* text-align: left; */
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}


.main-wrapper {
    background-color: #f8f9fa;
    height: calc(100% - 465px);
    margin-top: 40px;
    margin-bottom: 40px;
}

main {
    background-color: #f8f9fa;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
}

.footer-wrapper {
    background-color: white;
    border-top: 1px solid #dee2e6 !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(222, 226, 230);
}

footer {
    padding-top: 20px;
    height: 220px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 20px;
}

.footer-options h4 {
    font-weight: 500;
}

.footer-sub-options a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;

}

.footer-sub-options a:hover {
    cursor: pointer;

}

.footer-options p {
    margin: 0px;
}

.footer-signature {
    margin-top: 10px;
}

.footer-icons {
    margin-top: 10px;
}

.fa-twitter,
.fa-facebook:hover {
    cursor: pointer;
}

/* Reservation page */

.reservation-container, .cart-container  {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    background-color: white;
}

.reservation-form {
    padding-top: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 18%;
    width: 100%;
}

.reservation-form-option {
    display: grid;
    grid-template-columns: 40% 60%;
}

.reservation-form-option label {
    padding-left: 20px;
}

.registration-form-submit-container {
    padding-left: 20px;
    width: 100%;
}

.registration-form-submit-container-2 {
    padding-left: 60px;
    padding-right: 60px;
}

.registration-form-submit {
    width: 100%;
    background-color: #42cd87;
    border-color: #42cd87;
    border-radius: 0.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition: 0.2s
}

.registration-form-submit:hover {
    background-color: #343a40;
    border-color: #343a40;
}

.registration-form-edit {
    width: 100%;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 0.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    transition: 0.2s
}

button:hover {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

.reservation-results {
    /* background-color: aliceblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.reservation-option {
    background-color: #f8f9fa;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border: 1px solid #dee2e6;
    text-align: center;
    border-radius: 0.25rem;
}

/* Session page */

.session-container {
    display: grid;
    /* height: 100%; */
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

.session-attribute {
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
    text-align: center;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    margin-bottom: 0px !important;
}

/* Cart  */

.cart-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cart-container-left {
    display: grid;
    /* grid-template-rows: fit-content(80%) */
}

.cart-container-left-sessions {
    display: grid;
    grid-template-columns: 45% 20% 16% 18%;
    grid-template-rows: fit-content(100%);
    padding: 30px;
}

.cart-container-session, .cart-container-session-heading {
    align-self: center;
}

.cart-container-session {
border-bottom: 1px solid #dee2e6 !important;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(222, 226, 230);
min-height: 40px;
/* align-self: end; */
}

.cart-container-session-total {
    justify-self: center;
}

cart-container-session-amount {
    text-align: right;
    /* align-self: center; */
}

.cart-container-right {
    border-left: 1px solid #dee2e6 !important;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(222, 226, 230);
    padding: 30px;
}

.cart-form input {
    margin-top: 30px;
}

.cc-title {
    text-align: center;
    margin: 10px;
}

.cc-name, .cc-number, .cc-submit {
    width: 100%;
}


.cc-month, .cc-year, .cc-cvv {
    width: 30%;
    display: inline-block !important;
}

.delete-session-from-cart {
    min-height: auto !important;
}

@media (max-width: 600px) {

    header {}

    main {}

    footer {}
}

@media (min-width: 601px) and (max-width: 768px) {

    header {}

    main {}

    footer {}
}

@media (min-width: 769px) {

    header {}

    main {}

    footer {}
}