body {
    /* max-width: 1200px; */
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.scale-down {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #343a40;
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
}

.header-wrapper {
    background-color: #343a40 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}

.brand-img {
    margin: 20px;
    height: 40px;
}

.student-options-panel-wrapper {
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
    background-color: white;
}

.student-options-panel {
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.student-links {
    align-self: center;
    padding-left: 20px;

}

.student-links a {
    margin-right: 20px;
}

.student-link-selected {
    background-color: #343a40;
    border-radius: 0.3rem;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: white !important;
}

.student-options-panel a {
    text-decoration: none !important;
    color: black;
    align-self: center;
}

.student-cart-balance {
    justify-self: right;
    align-self: center;
    margin-right: 20px;
}

.student-cart-balance:hover {
    cursor: pointer;
}


.student-cart-count {
    background-color: #dee2e6;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    text-align: center;
    display: inline-block;
    line-height: 1;
    padding: 0.25em 0.4em;
    font-weight: 600;
}

.user-settings {
    color: white;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

.user-settings::after {
    display: inline-block;
    margin-left: 0.050em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.user-settings:hover {
    cursor: pointer;
}

.user-settings-drop-down-menu {
    display: none;
    margin-right: 15px;
    grid-column: 2/3;
    width: 30%;
    justify-self: end;
    z-index: 1;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    /* text-align: left; */
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}


.main-wrapper {
    background-color: #f8f9fa;
    min-height: calc(100vh - 465px);
    margin-top: 40px;
    margin-bottom: 40px;
}

main {
    background-color: #f8f9fa;
    padding-right: 20px;
    padding-left: 20px;
    min-height: calc(100vh - 465px);
}

.footer-wrapper {
    background-color: white;
    border-top: 1px solid #dee2e6 !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(222, 226, 230);
}

footer {
    padding-top: 20px;
    height: 220px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 20px;
}

.footer-options h4 {
    font-weight: 500;
}

.footer-sub-options a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;

}

.footer-sub-options a:hover {
    cursor: pointer;

}

.footer-options p {
    margin: 0px;
}

.footer-signature {
    margin-top: 10px;
}

.footer-icons {
    margin-top: 10px;
}

.fa-twitter,
.fa-facebook:hover {
    cursor: pointer;
}

/* Reservation page */

.reservation-container {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
}

.reservation-form {
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 18%;
    width: 100%;
}

.reservation-form-option {
    display: grid;
    grid-template-columns: 40% 60%;
}

.reservation-form-option label {
    padding-left: 20px;
}

.registration-form-submit-container {
    padding-left: 20px;
    width: 100%;
}

.registration-form-submit-container-2 {
    padding-left: 60px;
    padding-right: 60px;
}

.registration-form-submit {
    width: 100%;
    background-color: #42cd87;
    border-color: #42cd87;
    border-radius: 0.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition: 0.2s
}

.registration-form-submit:hover {
    background-color: #343a40;
    border-color: #343a40;
}

.registration-form-edit {
    width: 100%;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 0.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    transition: 0.2s
}

button:hover {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

.reservation-results {
    /* background-color: aliceblue; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.reservation-option {
    background-color: #f8f9fa;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border: 1px solid #dee2e6;
    text-align: center;
    border-radius: 0.25rem;
}

/* Session page */

.session-container, .order-container {
    /* min-height: calc(100vh - 465px); */
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    background-color: white;
}


 .reservation-container, .cart-container, .settings-container {
    min-height: calc(100vh - 465px);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    background-color: white;
}

.session-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 30px 20px;
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 0px;
}

.session-content li {
    display: inline;
    text-align: center;
}

.session-headings {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid #dee2e6 !important;
}

.session-headings h5 {
    font-weight: 400;
    margin-bottom: 0px;
}

/* Cart  */

.cart-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.cart-container-left {
    min-height: 100%;
    padding: 30px;
}

.cart-container-left-sessions {
    display: grid;
    /* grid-template-columns: 45% 20% 16% 18%; */
    grid-template-rows: fit-content(100%);
}

.cart-session {
    display: grid;
    grid-template-columns: 45% 20% 16% 18%;
    border-bottom: 1px solid #dee2e6 !important;
    max-height: 80px;
}

.cart-session-total-container {
    display: grid;
    grid-template-columns: 45% 20% 16% 18%;
}

.cart-session-element, .cart-container-session-heading {
    margin: 10px;
    align-self: center;
    text-align: center;
}

.cart-session-amount, .cart-session-total {
    margin: 10px;
    text-align: center;
}

.cart-container-right {
    border-left: 1px solid #dee2e6 !important;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(222, 226, 230);
    padding: 30px;
    min-height: 100%;
}

.cart-form {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    margin-left: 50px;
    margin-right: 50px;
}

.cart-form input {
    margin-top: 0px;
}

.cart-form label {
    margin-top: 20px;
    padding-bottom: 10px;
}

input[name="cvv"] {
    width: 40%;
    justify-self: center;
    text-align: center;
    grid-column: 2/4;

}

input[name="month"], input[name="year"] {
    width: 80%;
    justify-self: center;
    text-align: center;
    
}

label[for="cvv"] {
    justify-self: center;
    grid-column: 2/4;
}

label[for="month"], label[for="year"] {
    width: 80%;
    justify-self: center;
    text-align: center;
}

.cart-empty {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.cart-empy-make-reservation {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.cart-empy-make-reservation a {
    text-decoration: none;
}

.cc-title {
    text-align: center;
    margin: 10px;
}

.cc-month-year-cvv {
    display: flex;
    justify-content: space-between;
}

.cc-submit {
    margin-top: 40px !important;
    grid-column: 1/4;
}

.delete-session-from-cart {
    min-height: auto !important;
}

.delete-from-cart {
    padding: 5px;
}

/* Order */

.order-container {
    margin-left: 40px;
    margin-right: 40px;
}

.order {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6 !important;

}

.order-heading {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 0px;
    justify-items: center;
    margin-bottom: 0px;
    /* width: 100%; */
    /* margin: 40px 40px 5px 160px; */
}

.order-heading li, .order-details li {
    display: inline;
}

.order-details {
    padding-left: 0px;
    display: grid;
    color: #646464;
    grid-template-columns: 40% 35% 25%;
    margin-bottom: 0px;
    justify-items: center;
}

.order-exam-name {
    justify-self: left !important;
    margin-left: 100px;
}

.order-exam-length {
    justify-self: left;
    margin-left: 20px;
}

/* Settings */

.settings-form, .change-password-form {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

.settings-form input, .change-password-form input {
    margin-left: 20px;
    margin-bottom: 20px;
    grid-column: 2/3;
    width: 80%;
}

.settings-form label, .change-password-form label {
    text-align: end;
    grid-column: 1/2;
}

.settings-container h4 {
    font-weight: 400;
    margin-left: 80px;
    padding-top: 40px;
}

.settings-form input[type='submit'], .change-password-form input[type='submit'] {
    background-color: #42cd87;
}

@media (max-width: 600px) {

    header {}

    main {}

    footer {}
}

@media (min-width: 601px) and (max-width: 768px) {

    header {}

    main {}

    footer {}
}

@media (min-width: 769px) {

    header {}

    main {}

    footer {}
}